@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #343541;
  font-size: 16px;
}

.card {
  background: #497e92;
  border: 0.625rem solid;
  border-color: #d8dedf;
}

.fa-solid.fa-graduation-cap {
  color: #497e92;
}

.btn,
.next_btn {
  background: #497e92;
  border: none !important;
  padding: 0 2.5rem;
  color: #fff;
}

.btn:hover,
.next_btn:hover {
  background: #365f6e;
}

.video-js .vjs-control-bar {
  background-color: #3b4045;
  font-size: 1.5rem;
}

.video-js .vjs-icon {
  font-size: 1.5rem;
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
  background-color: #92c68c;
}

.video-js {
  background-color: #2f3338;
}

.video-js .vjs-fluid {
  padding-top: 56.25%;
}

.video-js .vjs-big-play-button {
  background-color: #92c68c;
  font-size: 4rem;
  border: none;
  border-radius: 0.3125rem;
}

.progress {
  background-color: #ffffff42;
}

.progress-bar {
  background-color: #fff;
}

.start.active {
  color: #fff;
}

.start {
  transform: translate(-50%, -30%);
  font-size: 1.25rem;
  color: #ffffff42;
  background-color: #497e92;
  padding: 0 0.625rem;
  border-radius: 0.3125rem;
}

.start-20 {
  left: 20%;
}

.start-40 {
  left: 40%;
}

.start-60 {
  left: 60%;
}

.start-80 {
  left: 80%;
}

.start-100 {
  left: 100%;
}

.embed-responsive {
  position: relative;
}

.quiz {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .video-js .vjs-fluid {
    padding-top: 75%;
  }
}

::selection {
  color: #fff;
  background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
  font-size: 1.5625rem;
  font-weight: 500;
  color: #007bff;
  padding: 0.9375rem 1.875rem;
  outline: none;
  border: none;
  background: #fff;
  cursor: pointer;
}

.info_box {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.info_box .info-title {
  height: 3.75rem;
  width: 100%;
  border-bottom: 0.0625rem solid #d3d3d3;
  display: flex;
  align-items: center;
  padding: 0 1.875rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.info_box .info-list {
  padding: 0.9375rem 1.875rem;
}

.info_box .info-list .info {
  margin: 0.3125rem 0;
  font-size: 1.0625rem;
}

.info_box .info-list .info span {
  font-weight: 600;
  color: #007bff;
}

.info_box .buttons {
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1.875rem;
  border-top: 0.0625rem solid #d3d3d3;
}

.info_box .buttons button {
  margin: 0 0.3125rem;
  height: 2.5rem;
  width: 6.25rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #007bff;
  transition: all 0.3s ease;
}

.quiz_box {
  border-radius: 0.3125rem;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz_box header {
  position: relative;
  z-index: 2;
  height: 4.375rem;
  padding: 0 1.875rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box header .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.quiz_box header .timer {
  color: #004085;
  border: 0.0625rem solid #b8daff;
  height: 2.8125rem;
  padding: 0 0.5rem;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9.0625rem;
}

.quiz_box header .timer .time_left_txt {
  font-weight: 400;
  font-size: 1.0625rem;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 1.125rem;
  font-weight: 500;
  height: 1.875rem;
  width: 2.8125rem;
  color: #fff;
  border-radius: 0.3125rem;
  line-height: 1.875rem;
  text-align: center;
  background: #343a40;
  border: 0.0625rem solid #343a40;
  user-select: none;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1875rem;
  background: #007bff;
  width: 0;
}

section {
  padding: 1.5625rem 1.875rem 1.25rem;
}

section .que_text {
  font-size: 1.5625rem;
  font-weight: 600;
}

section .option_list {
  padding: 1.25rem 0;
  display: block;
}

section .option_list .option {
  background: #fff;
  border: 0.0625rem solid #c0cdd6;
  border-radius: 0.3125rem;
  padding: 0.5rem 0.9375rem;
  font-size: 1.0625rem;
  margin-bottom: 0.9375rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

section .option_list .option span {
  padding-left: 0.3125rem;
}

section .option_list .option:last-child {
  margin-bottom: 0;
}

section .option_list .option:hover {
  color: #51758c;
  background: #f1f2f3;
  border: 0.0625rem solid #c0cdd6;
}

section .option_list .option.correct {
  box-sizing: border-box;
  background: #e9f9ec;
  border: 0.125rem solid #0ebf29;
}

section .option_list .option.incorrect {
  box-sizing: border-box;
  background: #feeff1;
  border: 0.125rem solid #f25160;
}

section .option_list .option.disabled {
  pointer-events: none;
}

section .option_list .option .icon {
  height: 1.625rem;
  width: 1.625rem;
  border: 0.125rem solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 0.8125rem;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 1.5rem;
}

.option_list .option .icon.tick {
  color: #e9f8ec;
  background: #0abf29;
}

.option_list .option .icon.cross {
  color: #fdeff1;
  background: #f25160;
}

footer {
  height: 3.75rem;
  padding: 0 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.0625rem solid #d3d3d3;
}

footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 0.3125rem;
}

footer .total_que span p:first-child {
  padding-left: 0;
}

footer button {
  height: 2.5rem;
  padding: 0 0.8125rem;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 0.3125rem;
  background: #007bff;
  border: 0.0625rem solid #007bff;
  line-height: 0.625rem;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.text_box {
  display: none;
}

.text_box.show {
  display: inline;
  transform: scale(1);
}

footer button:hover {
  background: #0263ca;
}

footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result_box {
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.result_box .icon {
  font-size: 6rem;
  color: #007bff;
  margin-bottom: 1.5625rem;
}

.result_box .complete_text {
  font-size: 1.25rem;
  font-weight: 500;
}

.result_box .score_text span p {
  padding: 0 0.25rem;
  font-weight: 600;
  margin-bottom: 0;
  background-color: #e9e9e9;
  padding: 10px;
  font-size: 1.2rem;
}

span.wrong {
  font-weight: 600;
  color: #f25160;
  font-size: 2rem;
}

span.correct {
  font-weight: 600;
  color: #0dbe29;
  font-size: 2rem;
}

.result_box .buttons {
  display: flex;
  margin: 1.25rem 0;
}

.result_box .buttons button {
  margin: 0 0.625rem;
  height: 2.8125rem;
  padding: 0 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #007bff;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  background: #497e92;
  border: none;
}

.buttons button.restart:hover {
  background: #365f6e;
}

.buttons button.quit {
  color: #fff;
  background: #497e92;
  border: none;
}

.buttons button.quit:hover {
  background: #365f6e;
}

/* Tablet screens */
@media only screen and (max-width: 768px) {
  .quiz_box,
  .result_box {
    background: white;
  }
}
